Flask==2.3.0
Flask-CORS==4.0.0
google-generativeai==0.3.2
google-cloud-aiplatform==1.35.0
webdavclient3==3.14.6
requests==2.31.0
Pillow==10.1.0
python-dotenv==1.0.0
pytrends==4.9.2
beautifulsoup4==4.12.2
gTTS==2.3.2
matplotlib==3.7.1
seaborn==0.12.2
opencv-python==4.8.1.78
numpy==1.24.3
Werkzeug==2.3.0
selenium==4.20.0
chromedriver-autoinstaller==0.6.4
selenium-wire==5.1.0
APScheduler==3.10.4
Jinja2==3.1.2
google-api-python-client==2.88.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0